{% block child %}
  <div class="form">
    <form class="" action="/add/" method="post">
      <input type="text" name="task" value="">
      <br>
      <input type="text" name="description" value="">
      <input type="text" name="deadline" value="">
      <br>
      {% csrf_token %}
      <input type="submit" name="Add" value="Add">
      <hr>
    </form>
  </div>

  {% for obj in list %}
    <div class="form">
      <form action="/update/" method="post">
        <input type="text" name="id" value={{obj.id}} hidden>
        <input type="text" name="taskname" value={{obj.task}}>
        <input type="checkbox" name="completed" {% if obj.is_completed %} checked {% endif %}>
        <br>
        {{obj.description}}
        {% csrf_token %}
        <input type="submit" name="Update" value="Update">
        <hr>
      </form>
    </div>
  {% endfor %}
{% endblock %}
